{% extends '_layout' %}
{% set hero = entry.townImage.one() %} {# Get hero if there is one #}

{% block content %}
    <h1>{{ entry.title }}</h1>

    {% if hero %}
        {% include '_includes/hero-image.twig' with { 'image': hero } %}
    {% endif %}

    <p>
    {{ entry.townDescription }}
    </p>
{% endblock %}
