{% extends '_layout' %}
{% set hero = entry.townImage.one() %} {# Get hero if there is one #}

{% block content %}
    <section class="py-8 lg:py-16">
        <article class="prose lg:prose-xl mx-auto px-4 lg:px-0">
            {{ entry.townDescription }}
        </article>
    </section>
{% endblock %}
