{% extends '_layout.twig' %}
{% set towns = craft.entries.section('towns').limit(6) %}

{% block content %}

<section class="bg-white py-12 lg:py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Places to visit</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Check out these small towns across the state.</p>
    </div>
    <div class="mx-auto mt-8 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
    {% for town in towns %}
      {% include '_components/card.component.twig' with { 'town': town } %}
    {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
